<header th:fragment="site-header" class="navbar">

    <nav>
        <ul>
            <li class="forside"><div class="color-block"></div><a href="index">FORSIDE</a></li>
            <li class="modtager"><div class="color-block"></div><a href="Modtager">MODTAGER</a></li>
            <li class="frivillig"><div class="color-block"></div><a href="Frivillig">FRIVILLIG</a></li>
            <li class="restaurant"><div class="color-block"></div><a href="Restaurant">RESTAURANT</a></li>
            <li class="doner"><div class="color-block"></div><a href="Doner">DONÉR</a></li>

            <li class="om-os"><div class="color-block"><a href="Login" class="login-text">Log in</a>
                </div><a href="om-os">OM OS</a>
        </ul>
    </nav>
</header>
