<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${presentation.title}">'idk'</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

//section a olga
<div>

</div>

//section b olga
<div>

</div>

//section c daniel
<section>
    <div class=SektionC1>
        <h3>Bliv en del af holdet</h3>>
        <p>Ingen kan gøre alt, men alle kan gøre lidt.<br>
            Som frivillig er du med til at skabe<br>
            et system,, hvor mad ikke går til<br>
            spilde - men bliver til håb, varme<br>
            og fællesskab.
        </p>

        <!--    <a th:href="@{/Frivillig}">Bliv frivillig</a><br>-->

    </div>
    <div>
        <img src="elementor-placeholder-image.png" alt="Frivillige hjælper ved et bord">
    </div>

</section>

    //section d daniel
<section class="how-it-works">
    <h2>Sådan Virker Det</h2>
    <p>Et simpelt koncept der gør en stor forskel</p>
    <div class="steps">
        <div class="step">
            <span class="number">1</span>
            <h3>Restauranten tilmelder sig</h3>
            <p>Din restaurant modtager en FoodBoks<br>
                    og sætter den op ved indgangen.</p>
        </div>
        <div class="step">
            <span class="number">2</span>
            <h3>Fyld boksen</h3>
            <p>Læg overskudsmad i boksen i stedet for at<br>
                smide den ud.</p>
        </div>
        <div class="step">
            <span class="number">3</span>
            <h3>Hjælp når det betyder mest</h3>
            <p>Modtagere kan frit tage mad fra boksen når<br>
                de har brug for det.</p>
        </div>
    </div>
</section>

    //section e rass
    <div>

    </div>


    <footer>

    </footer>

</body>
</html>
